@font-face {
  font-family: 'HandelGotDBol', sans-serif;
  src: url('https://fonts.cdnfonts.com/css/handelgotdbol') format(opentype);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  text-align: center;
  width: 100%;
}

nav li {
  border-right: 2px solid #bbb;
  display: inline-block;
}

nav li:first-child {
  border-left: 2px solid #bbb;
  display: inline-block;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav .active {
  background-color: hsl(51, 82%, 43%);
}

nav li a:hover {
  background-color: hsl(51, 82%, 43%);
}